/* 폰트 시작 */
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'), url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 300;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
}
html {
  font-family: 'LotteMartDream', sans-serif;
}
/* 폰트 끝 */
/* 노말라이즈 시작 */
body, ul, li, h1, h2{
  list-style:none;
  margin:0;
  padding:0;
}

a{
  text-decoration:none;
  color:inherit;
}
/* 노말라이즈 끝 */
/* 라이브러리 시작*/
.con-min-width{
  min-width:1200px;
}

.con{
  width:1200px;
  margin:0 auto;
}

.height-100p{
	height:100%;
}

.border-red{
  border:1px solid red;
}

.border-blue{
  border:1px solid blue;
}

.border-pink{
  border:1px solid pink;
}

.flex{
  display:flex;
}

.flex-jc-c{
  justify-content:center;
}

.flex-ai-c{
  align-items:center;
}

.flex-jc-sa{
  justify-content:space-around;
}

.flex-dir-c{
  flex-direction:column;
}
/* 라이브러리 끝*/

body{
  min-height:100vh;
}

/* 로고 바 시작 */
.logo-bar{
  background-color:black;
  color:white;
  height:150px;
}

.logo-bar>.con{
  height:100%;
  font-size:3rem;
}

.logo-bar>.con>span{
  margin-left:10px;
}

span>span{
  color:red;
}
/* 로고 바 끝 */
/* 메뉴 바 시작 */
.menu-bar ul ul{
  display:none;
}

.menu-bar{
  background-color:black;
  color:white;
}

.menu-bar ul > li { 
  position:relative;
  justify-content:center;
}

.menu-bar > .con > ul > li { 
  border-radius:10px 10px 0 0;
  width:25%;
}

.menu-bar > .con > ul > li > a{ 
  border-radius:10px 10px 0 0;
}

.menu-bar ul > li > a{ 
  display:block;
  color:white;
  padding:20px 0;
  text-align:center;
  white-space:nowrap;
}

.menu-bar ul > li:hover > a{  
  background-color:white;
  color:black;
}

.menu-bar ul > li:hover > ul {
  display:block;
}

.menu-bar ul ul {
  background-color:black;
  border:10px solid black;
  border-top-width:0;
  border-radius:0 0 20px 20px;
  position:absolute;
  top:100%;
  left:-10px;
  width:100%;
}

.menu-bar ul ul li:last-child > a {
  border-radius:0 0 10px 10px;
}

/* 메뉴 바 끝 */
/* 타이틀 바 시작 */
.title-bar > .con {
  margin:20px;
}
/* 타이틀 바 끝 */
/* 섹션-1 시작 */
.section-1{
  flex-grow:1;
}
/* 섹션-1 끝 */
/* 바텀 바 시작 */
.bottom-bar{
  background-color:black;
  color:white;
  padding:20px 0;
}

.bottom-bar > .con{
}

.bottom-bar > .con > .logo{
  font-size:2rem;
  padding:0 20px;
}
/* 바텀 바 끝 */