/* 폰트 */
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 400;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamMedium.woff') format('woff');
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 700;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamBold.woff') format('woff');
}
@font-face {
  font-family: 'LotteMartDream';
  font-style: normal;
  font-weight: 300;
  src: url('https://cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/lottemart/LotteMartDream/LotteMartDreamLight.woff') format('woff');
}

html {
  font-family: 'LotteMartDream', sans-serif;
}

/* 노말라이즈 */
body, ul, li, h1 {
  margin:0;
  padding:0;
  list-style:none;
}

a {
  color:inherit;
  text-decoration:none;
}

/* lib */
.color-red{
	color:red;
}

.bg-red {
  background-color:red;
}

.height-100vh{
  height:100vh;
}

.con{
  width:1200px;
  margin:0 auto;
}

.con-min-width {
  min-width:1200px;
  padding:0 20px;
}

.block{
  display:block;
}

.flex{
  display:flex;
}

.flex-jc-c{
  justify-content:center;
}

.flex-jc-sa{
  justify-content:space-around;
}

.flex-column{
  flex-direction:column;
}

.flex-grow-1{
  flex-grow:1;
}
/* cus */

:root {
  --site-width:1200px;
}

/* top-bar */

.top-bar {
  background-color:black;
  color:white;
  padding:30px 0;
}

.top-bar > .con {
  font-size:4rem;
}

.top-bar > .con > span {
  margin-left:10px;
}

.top-bar > .con > span > span {
  color:red;
}

/* menu bar */
.menu-bar{
  background-color:black;
  color:white;
}

.menu-bar ul ul {
  display:none;
  background-color:black;
  color:white;
  width:100%;
}

.menu-bar > .con > ul {  
  display:flex;
  justify-content:space-between;
}

.menu-bar > .con > ul > li{
  width:100%;
  position:relative;
  text-align:center;
}

.menu-bar ul > li > a{ 
  padding:20px 0;
}

.menu-bar > .con > ul > li:hover > a{   
  border-radius:10px 10px 0 0;
}

.menu-bar ul > li:hover > a{ 
  padding:20px 0;
  background-color:white;
  color:black;
}

.menu-bar ul > li:last-child > a{  
  border-radius:0 0 10px 10px;
}

.menu-bar > .con > ul > li:hover > ul{  
  display:block;
  position:absolute;
  top:100%;
  left:-10px;
  border:10px solid black;
  border-top:0;
  border-radius:0 0 20px 20px;
}

/* 타이틀 바 */
.title-bar.con-min-width {
  margin:20px 0;
}


/* section-1 */
.section-1__article-list {
  height:100%;
  display:flex;
  flex-direction:column;
}

.section-1__article-list > ul {
  display:flex;
  flex-direction:column;  
  justify-content:flex-start;
  height:100%;
}

.section-1__article-list > ul > li {
  display:flex;  
  justify-content:space-around;  
}

.section-1__article-list > ul:first-child > li{  
  border-bottom:1px solid black;
  padding-bottom:15px;  
}

.section-1__article-list > ul > li:not(.title) > span{
  display:flex;
  justify-content:center;    
  width:10%;
}

.section-1__article-list > ul > li > span:nth-child(4){
  flex-grow:1;
}

.section-1__article-list > ul > li > span:nth-child(4):hover{
  text-decoration:underline;
}

.section-1__article-list > ul > li:first-child > span:not(:last-child) {
  border-right:1px solid black;
}


.section-1__article-detail {
  height:100%;
}

.section-1__article-detail > ul {
  height:100%;
  display:flex;
  flex-direction:column;    
}

.section-1__article-detail > ul li{
  padding:20px 0;
}

.section-1__article-detail > ul li:not(:last-child){
  border-bottom:1px solid black;
}

.section-1__article-detail > ul li > span{
  margin-right:15px;
}

.section-1__article-detail > ul li > a{
  margin-right:15px;
}

.section-1__article-detail > ul li > a:hover{
  text-decoration:underline;
}

.section-1__article-detail > ul .body {
  flex-grow:1;
}


/* bottom-bar */
.bottom-bar {
  background-color:black;
  color:white;
  padding:30px 0;
}

.bottom-bar .logo{
  font-size:2rem;
  white-space:nowrap;
}

.bottom-bar .logo > span > span {
  color:red;
}

.bottom-bar .site-info{
  margin-left:10px;
}